<a href="https://colab.research.google.com/github/Abdulhaseef1330/Datascience-Batch-22/blob/main/Exercise2Chipotle_Pandas_Exploring.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Getting and Knowing your Data
This time we are going to pull data directly from the internet. Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

#Step 1. Import the necessary libraries

In [3]:
import pandas as pd
import numpy as np

#Step 2. Import the dataset from this address.

In [4]:
url=("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv")

In [64]:
df = pd.read_csv(url,'\t')

<ipython-input-64-55263227bc78>:1: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  df = pd.read_csv(url,'\t')

In [7]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

#Step 3. Assign it to a variable called chipo.

In [62]:
chipo=df

#Step 4. See the first 10 entries

In [10]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

#Step 5. What is the number of observations in the dataset?

In [21]:
chipo.shape

(4622, 5)

#Step 6. What is the number of columns in the dataset?

In [22]:
shape = df.shape
print('Number of columns :', shape[1])

Number of columns : 5

#Step 7. Print the name of all the columns.

In [23]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

#Step 8. How is the dataset indexed?

In [25]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

#Step 9. Which was the most ordered item?

In [32]:
order_item=chipo.groupby(['item_name']).agg({'quantity':'sum'})
order_item.sort_values('quantity',ascending=False)[:1]

              quantity
item_name
Chicken Bowl       761

#Step 10. How many items were ordered?

In [65]:
chipo.quantity.sum()

4972

#Step 11. What was the most ordered item in the choice_description column?

In [66]:
order_item=chipo.groupby(['choice_description']).agg({'quantity':'sum'})
order_item.sort_values('quantity',ascending=False)[:1]

                    quantity
choice_description
[Diet Coke]              159

#Step 12. How many items were orderd in total?

In [39]:
chipo.quantity.sum()

4972

#Step 13. Turn the item price into a float

In [69]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: x.replace('$',''))
chipo['item_price'] = chipo['item_price'].astype('float')

In [70]:
chipo.item_price.dtypes

dtype('float64')

#Step 14. How much was the revenue for the period in the dataset?

In [72]:
(chipo['quantity']*chipo['item_price']).sum()

39237.02

#Step 15. How many orders were made in the period?

In [74]:
chipo['order_id'].value_counts().count()

1834

#Step 16. What is the average amount per order?

In [75]:
chipo['item_price'].mean()

7.464335785374297

#Step 17. How many different items are sold?

In [76]:
chipo.item_name.value_counts().count()

50